* {
  margin: 0;
  font-family: 'Caveat', cursive;
}

body {
  display: flex;
  justify-content: space-between;
}

.hidden {
  display: none!important;
}

button {
  width: 80px;
  height: 80px;
  margin-top: 50px;
  border: none;
  background-color:transparent;
  color: white;
}

button:hover {
  color: white;
  font-size: 20px;
  border: 6px dotted black;
}

.classic-button,
.haunted-button {
  width: 200px;
  height: 200px;
  border: 4px dotted black;
  background-color: black;
  cursor: pointer;
  font-size: 17px;
  opacity: 0.70;
}

img {
  width: 120px;
  height: 120px;
  margin-top: 20px;
}

/*----MAIN----*/
main {
  width: 70%;
  background-image: url("assets/ghosts.png");
}

h1,
.choose-game-sentence,
.choose-fighter-sentence
 {
  text-align: center;
}

.choose-game-sentence,
.choose-fighter-sentence {
  font-size: 20px;
}

.choose-game-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choices-display {
  display: flex;
  justify-content: center;
}

/*----CLASSIC/HAUNTED PLAY----*/
.all-buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.rock-btn,
.paper-btn,
.scissors-btn,
.ghost-btn,
.vampire-btn {
  width: 160px;
  height: 160px;
  margin: 25px;
  background-color: white;
  opacity: 0.70;
  border-radius: 50px;
  cursor: pointer;
}

.winner {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}

/*----SIDES----*/
.you-side,
.computer-side {
  background-color: #1a1917;
  color: white;
  height: 100vh;
  width: 18%;
  background-image: url("./assets/bloodrip.png");
  background-repeat: no-repeat;
}

.you-name,
.computer-name {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  align-items: center;
}

.player-img {
  width: 40px;
  height: 40px;
  margin: 0;
}

.you-score,
.computer-score {
  font-size: 60px;
  text-align: center;
}